# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: JFrogMaven@1
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean install'
    artifactoryResolverService: 'Cloud Instance'
    targetResolveReleaseRepo: 'noffarl-azurepl-libs-release'
    targetResolveSnapshotRepo: 'noffarl-azurepl-libs-snapshot'
    artifactoryDeployService: 'Cloud Instance'
    targetDeployReleaseRepo: 'noffarl-azurepl-libs-release'
    targetDeploySnapshotRepo: 'noffarl-azurepl-libs-snapshot'
    collectBuildInfo: true
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
- task: JFrogPublishBuildInfo@1
  inputs:
    artifactoryConnection: 'Cloud Instance'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
